<!-- templates/index.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>List - {{.Name}}</title>
    <link
      rel="stylesheet"
      href="https://uicdn.toast.com/tui.grid/latest/tui-grid.css"
    />
    <script src="https://uicdn.toast.com/tui.grid/latest/tui-grid.js"></script>
  </head>
  <body>
    <h1>{{.Name}}</h1>
    <div id="grid"></div>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
          var container = document.getElementById('grid');
          var data = {{.Items}};
          grid = new tui.Grid({
            el: container,
            data: data,
            columns: {{.Columns}}
          });
          tui.Grid.applyTheme("clean");
          grid.hideColumn("-2"); //Note Id
          grid.hideColumn("-3"); //List Id
          grid.hideColumn("-4"); //Item Id
          grid.sort("-1", true);
      });
    </script>
  </body>
</html>
