<!-- templates/index.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>List - {{.Name}}</title>
    <link
      href="https://unpkg.com/tabulator-tables@5.5.2/dist/css/tabulator_materialize.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <style>
      html,
      body {
        height: 100%;
      }
      body {
        display: flex;
        flex-direction: column;
      }

      #grid {
        flex-grow: 1;
      }
    </style>
  </head>
  <body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script
      type="text/javascript"
      src="https://unpkg.com/tabulator-tables@5.5.2/dist/js/tabulator.min.js"
    ></script>
    <h1 style="margin-left: 1rem">{{.Name}}</h1>
    <div style="margin-bottom: 1rem; margin-left: 1rem">
      <button class="waves-effect waves-light btn" onclick="addNote()">
        Add Note
      </button>
      <button class="waves-effect waves-light btn" onclick="addList()">
        Add List
      </button>
    </div>
    <div id="grid"></div>
    <script>
      var table = new Tabulator();
      function addNote(event) {
        var name = prompt("Note Name");
        if (!name) return;
        var noteDTO = {
          ListId: {{.Id}},
          Name: name,
        };
        var response = fetch("/api/note", {
          method: "POST",
          body: JSON.stringify(noteDTO),
          headers: {
            "Content-type": "application/json; charset=UTF-8"
          }
        }).then((response) => {
          if (response.status != 201) {
            response.text().then((message) => alert(message))
          }
          else {
            table.setData();
          }
        });
      }

      function addList(event) {
        var name = prompt("List Name");
        if (!name) return;
        var listDTO = {
          ListId: {{.Id}},
          Name: name,
        };
        var response = fetch("/api/list", {
          method: "POST",
          body: JSON.stringify(listDTO),
          headers: {
            "Content-type": "application/json; charset=UTF-8"
          }
        }).then((response) => {
          if (response.status != 201) {
            response.text().then((message) => alert(message))
          }
          else {
            table.setData();
          }
        });
      }
      document.addEventListener('DOMContentLoaded', function() {
        table = new Tabulator("#grid", {
          ajaxURL: "/api/listItems/{{.Id}}",
          layout: "fitColumns",
          columns: {{.Columns}},
          initialSort: [
            {column: "-1", dir: "asc"}
          ]
        });
        table.on("rowDblClick", (event, row) => {
          var data = row.getData();
          if (data["-2"]) {
            window.location.href = `${window.location.origin}/note/${data["-2"]}`
          }
          else {
            window.location.href = `${window.location.origin}/list/${data["-3"]}`
          }
        })
      });
      window.addEventListener("pageshow", (event) => {
        table.setData();
      })
    </script>
  </body>
</html>
