<!-- template.html -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Listorise {{.Name}}</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css"
    />
  </head>
  <body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <h2
      id="name"
      style="margin-left: 1rem; line-height: 1.3"
      contenteditable="true"
    >
      {{.Name}}
    </h2>
    <div style="margin-left: 1rem">
      <textarea id="editor" readonly>{{.Body}}</textarea>
    </div>
    <button
      class="waves-effect waves-light btn"
      type="submit"
      onclick="submit()"
      style="margin-left: 1rem"
    >
      Save
    </button>
    <script>
      var editor = new SimpleMDE({
          element: document.getElementById("editor"),
          readOnly: true,
        });

      function submit(event) {
        var noteDTO = {
          Id: {{.Id}},
          Name: document.getElementById('name').innerText,
          Body: editor.value(),
        };
        var response = fetch("/api/note", {
          method: "PUT",
          body: JSON.stringify(noteDTO),
          headers: {
            "Content-type": "application/json; charset=UTF-8"
          }
        }).then((response) => {
          if (response.status != 200) {
            response.text().then((message) => alert(message))
          }
          else {
            alert("Note Saved Successfully")
          }
        });
      }
    </script>
  </body>
</html>
